snippet p
	print(${1})${2}
snippet ?
	${1} ? ${2} : ${3}
snippet fo
	for ${1:index} in ${2:0}...${3:10} {${4}
	}
snippet foe
	for ${1:(key, value)} in ${2:dict} {${3}
	}
snippet wh
	while ${1:flag} {${2}
	}
snippet if
	if ${1:flag} {${2}
	}
snippet il
	if let ${1:number} = ${2:Int(str)}{${3}
	} else {${4}
	}
snippet re
	return
snippet br
	break
snippet co
	continue
