snippet ae
	Assert.assertEquals(${1:expected}, ${2:result});${3}
snippet aed
	Assert.assertEquals(${1:expected}, ${2:result}, ${3:Math.pow(10, -6)});${4}
snippet ane
	Assert.assertNotEquals(${1:expected}, ${2:result});${3}
snippet at
	Assert.assertTrue(${1});${2}
snippet af
	Assert.assertFalse(${1});${2}
snippet an
	Assert.assertNull(${1});${2}
snippet ann
	Assert.assertNotNull(${1});${2}
snippet tt
	@Test
	public void test${1:Name}() throws Exception {${2}
	}
snippet ct
	package ${1:}
	
	import org.junit.Assert;
	import org.junit.Before;
	import org.junit.Test;
	
	/**${2:}
	 * @author Adam Huang <poisondog@gmail.com>
	 * @since `system("date +%Y-%m-%d")`
	 */
	public class `Filename()` {

		@Before
		public void setUp() throws Exception {
		}

		@Test
		public void test${3:App}() throws Exception {
			Assert.assertTrue(true);
		}
	}
